* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-image {
  width: 50vw;
  height: 30vh;
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #475569;
  min-width: 40vw;
}
.input-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.searh-icon {
  height: 30px;
  width: 30px;
}
.input {
  border-style: none;
  margin-left: 20px;
  outline: none;
}
.list-container {
}
